
- var articles = activity.articles
each article in articles
  - var id = article.id
  - var eprint = article.eprint
  - var baseSearch = '/search?category=' + eprint.categories[0]
  - var authorSearch = baseSearch + '&author='
  - var bookmarked = article.bookmarked.toISOString().slice(0, 10)
  li.ui-skip-medium
    div
      - var published = eprint.published.toISOString().slice(0, 10)
      a(href='/articles/#{id}')= citeAs(eprint)
      |  (Published #{published}, bookmarked #{bookmarked})
      if authorized
        form.ui-offset-medium(action='/users/#{uid}/articles/read' method='post' role='form')
          input(type='hidden' name='_csrf' value=csrfToken)
          input(type='hidden' name='id' value=id)
          button.ui-button-link(type='submit')
            i(data-schema-icon='check-square-o')
            |  Mark as read
        form.ui-offset-medium(action='/users/#{uid}/articles/delete' method='post' role='form')
          input(type='hidden' name='_csrf' value=csrfToken)
          input(type='hidden' name='id' value=id)
          button.ui-button-link(type='submit')
            i(data-schema-icon='trash-o')
            |  Delete
    h4.ui-header-compact= eprint.title
    div
      - var authors = eprint.authors
      - var last = authors.length - 1
      if last < 7
        each author, index in authors
            a(href=normalize(authorSearch + author))= author 
            if index !== last
              | , 
      else
        - var author = authors[0]
        a(href=normalize(authorSearch + author))= author
        em  et al.
    include ../../links
