
- var votes = activity.votes
each vote in votes 
  - var pid = vote.pid
  - var post = vote.post
  - var eprint = post.eprints[0]
  - var author = post.author
  - var published = post.published.toISOString().slice(0, 10)
  - var voted = vote.voted.toISOString().slice(0, 10)
  li.ui-skip-medium
    div
      - var id = eprint.id
      a(href='/articles/#{id}')= 'arXiv:' + id
      |  &raquo; 
      a(href='/reviews/#{pid}') Review #{pid}
      |  (Published #{published}, voted #{voted})
    h4.ui-header-compact= post.title
    a(href='/users/#{author.uid}')= author.name
    span.ui-text-list.ui-float-right
      span
        - var revisions = post.revisions.length
        i(data-schema-icon='history')
        = ' ' + revisions + ' revision' + (revisions !== 1 ? 's' : '')
      span
        - var comments = post.comments.length
        i(data-schema-icon='comments')
        = ' ' + comments + ' comment' + (comments !== 1 ? 's' : '')
