
- var baseURL = location.replace(/(^|\&|(\?))page=\d*/, '$2')
- var authorURL = baseURL + '&author='
- var categoryURL = baseURL + '&category='
- var subjectURL = baseURL + '&subject='
- var keywordURL = baseURL + '&keyword='
- var tagURL = baseURL + '&tag='
- var paginationURL = baseURL + '&page='

aside.ui-grid-30.ui-mobile-expand.ui-phone-hidden
  div
    h3.ui-header-primary Toolbox
    section
      h4.ui-header-compact Pagination
      .ui-offset-large
        label Jump to page 
        input.ui-fluid-30(type='number' name='page' value=currentPage min='1' max=lastPage step='1' title='Please input the page number not greater than ' + lastPage required)
    section.ui-skip-medium
      h4.ui-header-compact Date Range
      ul.ui-list-unstyled.ui-skip-small.ui-offset-small
        - var dateRange = query['date-range']
        li
          label
            input(type='radio' name='date-range' value='all' checked=(dateRange === 'all'))
            |  Any time
        li
          label
            input(type='radio' name='date-range' value='past-week' checked=(dateRange === 'past-week' ))
            |  Past week
        li
          label
            input(type='radio' name='date-range' value='past-month' checked=(dateRange === 'past-month'))
            |  Past month
        li
          label
            input(type='radio' name='date-range' value='past-year' checked=(dateRange === 'past-year' ))
            |  Past year
        li
          - var enabled = (dateRange === 'custom')
          label
            input(type='radio' name='date-range' value='custom' checked=enabled)
            |  Custom range
          .ui-container-grid.ui-skip-small.ui-offset-medium
            - var datePattern = /\d{4}(-\d{2})?(-\d{2})?/.toString().slice(1, -1)
            input.ui-fluid-30(type='text' name='date-from' pattern=datePattern value=query['date-from'] placeholder='1991-08-14' title='The start date should be less than the end date' disabled=!enabled required)
            span.ui-offset-medium.ui-text-center to
            - var today = new Date().toISOString().slice(0, 10)
            input.ui-fluid-30.ui-offset-tiny(type='text' name='date-to' value=query['date-to'] placeholder=today title='The end date should be greater than the start date' pattern=datePattern disabled=!enabled required)
  if total > 1
    .ui-skip-large
      h3.ui-header-primary Statistics
      section
        h4.ui-header-compact Hot Categories
        ol
          each item in stats.categories.slice(0, 10)
            - var category = item.category
            li
              a(href=normalize(categoryURL + category))= category
              span.ui-float-right.ui-text-muted= item.count
      section
        h4.ui-header-compact Top Authors
        ol
          each item in stats.authors.slice(0, 10)
            - var author = item.author
            li
              a(href=normalize(authorURL + author))= author
              span.ui-float-right.ui-text-muted= item.count

article.ui-grid-70.ui-mobile-expand
  h3.ui-text-left-right.ui-header-primary
    span Search Results
    if total === 0
      span.ui-text-muted.ui-zoom-small No results found
    else if startIndex <= total
      - var startItem = startIndex + 1
      - var endItem = Math.min(endIndex, total)
      span.ui-text-muted.ui-zoom-small Showing #{startItem}-#{endItem} of #{total}
        if total >= 1000
          span.ui-color-danger  (too many results)
    else
      span.ui-text-muted.ui-zoom-small No more results
  .ui-text-left-right
    div
      span.ui-text-muted Sort by
      .ui-button-group.ui-space-collapse.ui-block-inline
        - var sort = query.sort
        input(id='published-date' type='radio' name='sort' value='published' checked=(sort === 'published'))
        label(for='published-date') Published Date
        input(id='updated-date' type='radio' name='sort' value='updated' checked=(sort === 'updated'))
        label(for='updated-date') Updated Date
        input(id='article-views' type='radio' name='sort' value='views' checked=(sort === 'views' ))
        label(for='article-views') Article Views
        input(id='citation-counts' type='radio' name='sort' value='citations' checked=(sort === 'citations'))
        label(for='citation-counts') Citation Counts
    .ui-button-switch.ui-block-inline
      - var order = query.order
      input(id='sort-order' type='checkbox' name='order' value='ascending' checked=(order === 'ascending'))
      label(for='sort-order')
        span: i(data-schema-icon='sort-amount-asc' title='Ascending') Asc
        span: i(data-schema-icon='sort-amount-desc' title='Descending') Desc
  ol.ui-skip-large(start=startIndex + 1)
    each eprint, index in eprints
      - var id = eprint.id
      - var analyses = eprint.analyses
      li.ui-skip-medium
        div
          - var published = eprint.published.toISOString().slice(0, 10)
          - var updated = eprint.updated.toISOString().slice(0, 10)
          a(href='/articles/#{id}') arXiv:#{id}
          |  (Published 
          span= published
          if updated !== published
            | , updated 
            span #{updated}
          | )
        h4.ui-header-compact= eprint.title
        div
          - var authors = eprint.authors
          - var last = authors.length - 1
          if last < 7
            each author, index in authors
              a(href=normalize(authorURL + author))= author 
              if index !== last
                | , 
          else
            - var author = authors[0]
            a(href=normalize(authorURL + author))= author
            em  et al.
        .ui-text-normal
          - var comment = eprint.comment
          - var journal = eprint.journal
          - var doi = eprint.doi || analyses.publication.doi
          if comment
            div
              strong Comments: 
              span(data-schema-extract='url')= comment
          if journal
            div
              strong Journal: 
              span= journal
          if doi
            div
              strong DOI: 
              - var entries = doi.split(/[\,\;]?\s+/)
              - var last = entries.length - 1
              each entry, index in entries
                a(href='http://dx.doi.org/#{entry}' rel='external' target='_blank')= entry
                if index !== last
                  | , 
          div
            strong Categories: 
            - var categories = eprint.categories
            - var last = categories.length - 1
            each category, index in categories
              a(href=normalize(categoryURL + category))= category
              if index !== last
                | , 
          if analyses.subjects.length
            div
              strong Subjects: 
              - var subjects = analyses.subjects
              - var last = subjects.length - 1
              each subject, index in subjects
                a(href=normalize(subjectURL + subject))= subject
                if index !== last
                  | , 
          if analyses.themes.length
            div
              strong Topics: 
              - var themes = analyses.themes
              - var lastTheme = themes.length - 1
              each theme, themeIndex in themes
                - var topicSearch = '/search?themes.category=' + theme.category + '&themes.topics='
                - var topics = theme.topics
                - var lastTopic = topics.length - 1
                each topic, topicIndex in topics
                  a(href=normalize(topicSearch + topic))= topic
                  if topicIndex !== lastTopic
                    | , 
                if themeIndex !== lastTheme
                  | ; 
          if analyses.keywords.length
            div
              strong Keywords: 
              - var keywords = analyses.keywords
              - var last = keywords.length - 1
              each keyword, index in keywords
                a(href=normalize(keywordURL + keyword))= keyword
                if index !== last
                  | , 
          if analyses.tags.length
            div
              strong Tags: 
              - var tags = analyses.tags
              - var last = tags.length - 1
              each tag, index in tags
                a(href=normalize(tagURL + tag))= tag
                if index !== last
                  | , 
        - var abstract = id + '/abstract'
        ul.ui-list-inline.ui-seperator-vbar
          - var mirror = user.note.mirror
          - var arxiv = 'http://' + (mirror ? mirror + '.' : '') + 'arxiv.org'
          li: a(href='#' + abstract) Show abstract
          li: a(href='#{arxiv}/pdf/#{id}' rel='external' target='_blank') View PDF
          li: a(href='#{arxiv}/e-print/#{id}' rel='external') Download source
          li: a(href='/articles/#{id}/bibtex' download='#{id}.bib') Export citation
        p.ui-toggle-content(id=abstract)= eprint.abstract
  include ../pagination
