
extends ../account

block prepend variables
  - var pageID = 'messages'

block content
  .ui-grid-70.ui-offset-15.ui-mobile-expand
    .ui-article-body!= parse(preview.content)
    form.ui-form-horizontal(data-schema-validate action='/users/#{uid}/messages/submit' method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      fieldset
        legend Compose New Message
        input(type='text' name='receiver' pattern=pattern.receiver value=preview.receiver placeholder='Receiver: uid <username>' title='Please specify both UID and username' required autofocus)
        textarea(name='content' rows='12' placeholder='Content: to be constructive and concise. Markdown and LaTeX are supported.' title='Please mind your manners and watch your tone' required)= preview.content
      .ui-text-center.ui-skip-large
        button(type='submit' formaction='/users/#{uid}/messages/preview') Preview
        button.ui-button-primary.ui-offset-medium(type='submit') Submit

block append foot
  include ../../mathjax
